dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
TAGS
*~
/Application/KDTree/run
/Application/KDTree/train
/Application/KDTree/predict
model_*
/Application/KDTree/#run#
/Application/KDTree/.#run
*.dat
/Application/FilterStatistics/main
*.data
/Application/FilterStatistics/run
downsample*
*.out
*.png
/Application/FeatureHistogram/main
/Application/KDTree/run1
main
/Application/GMM/predictFisher
/Application/GMM/trainFisher
/Application/GMM/trainFisher1
/Application/GMM/trainGMM
/Application/GMM/model
*.pgm
*.dat*
*model
*.pca
*.bak
train*
predict*
plot*
/Application/GMM/filterTest
/Application/GMM/test
run*
main*
/Application/RotateDataset/rotationTest
*.ppm
